# Visual Studio / .NET
.vs/
bin/
obj/
TestResults/
*.user
*.suo
*.userosscache
*.sln.docstates

# Node / frontend
node_modules/
dist/
build/
out/
/.parcel-cache
.cache

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# NuGet
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Others
*.publishsettings
*.publish.xml
*.nupkg
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
